.about-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.about-container .block {
    background : var(--color-purple);
    display: flex;
    justify-content: space-around;
    padding: 0% 2%;
    margin-top: 25px;
}

.about-container h1 {
    color: var(--color-yellow);
    width: 40%;
}

.about-container h4 {
    width: 85%;
    color: var(--color-white)
}

.about-container i {
    color: var(--color-white)
}