.post-container {
    padding: 0 20%;
    /* color: yellow; */
    color: var(--color-purple-hover);
}

.post-container h1 {
    color: var(--color-purple-hover);
}
.post-container h2 {
    color: var(--color-purple-hover);
}
.post-container h3 {
    color: var(--color-purple-hover);
}
.post-container p {
    color: var(--color-purple-hover);
}