.blog-block {
    background : var(--color-purple);
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    margin-top: 25px;
    box-shadow: none;
    text-shadow: none;
}

.blog-block:hover {
    cursor: pointer;
    /* padding: calc(1rem - 3px); */
    background: var(--color-purple-hover);
    /* border: 3px solid var(--color-yellow); */
    /* margin-top: 22px; */
}

.blog-block .title {
    color : var(--color-yellow);
    font-weight : bold;
    font-size: 32px;
}

/* .blog-block:hover .title {
    color: var(--color-yellow-hover);
} */

.blog-block .date {
    color: var(--color-white);
}

/* .blog-block:hover .date {
    color: var(--color-purple);
} */

.blog-block .blurb {
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
}

/* .blog-block:hover .blurb {
    color: var(--color-white-hover);
} */