.blog-page-title {
    padding: 0rem 3rem;
    color: var(--color-purple);
}

.blog-container {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 1.5rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.blog-block {
    background : var(--color-purple);
    box-sizing: border-box;
    border-radius: 8px;
    text-shadow: none;
    height: 224px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    margin-top: 25px;
    margin-right: 20px;
}

.blog-block:hover {
    cursor: pointer;
    /* padding: calc(1rem - 3px); */
    background: var(--color-purple-hover);
    /* border: 3px solid var(--color-yellow); */
    /* margin-top: 22px; */
}

.blog-block .title {
    color : var(--color-white);
    font-weight : bold;
    font-size: 1.5rem;
}

.blog-block .blurb {
    color: var(--color-white);
    font-weight: bold;
    font-size: 1rem;
    /* text-align: center; */
    /* margin-top: 1rem; */
}

.link-button {
    display: flex;
    height: 1rem;
}

.arrow-container {
    width: 1.5rem;    
}

.blog-link {
    color: var(--color-white);
}

.blog-link:hover {
    color: var(--color-white-hover);
}