.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauge-text {
    color: var(--color-purple);
    margin: 0;
}

.gauge-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-input-container {
    width: 200px;
}