.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

@media (max-width: 770px) {
    .home-content {
        width: 100%;
    }
}

.home-heading {
    padding: 20px;
}

.home-heading h5 {
    font-size : 1.25rem;
    color: var(--color-purple);
    margin-top: 1.25rem;
}

.home-heading h1 {
    font-size : 3rem;
    color: var(--color-purple);
}

.home-bio {
    margin-top: 2rem;
}

.home-content .social-icons {
    color: var(--color-purple);
    display: flex;
    justify-content: flex-start;
    margin-top: 1.50rem;
}

.home-content .social-icons svg {
    margin-right: 1rem;
    color: var(--color-purple);
}

.home-content .social-icons svg:hover {
    color: var(--color-purple-hover);
    cursor: pointer;
}

.home-svg-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

