

@keyframes animation-name-you-pick {
  0% {
   /* background: blue; */
   transform: translateX(0) translateY(0);
 }
10% {
   transform: translateX(-10px) translateY(5px);
  
}
 15% {
   transform: translateX(-20px) translateY(10px);
 }
  20% {
   /* background: purple; */
   transform: translateX(-30px) translateY(15px);
   /* transform: translateY(50px); */
  }
30% {
   transform: translateX(-40px) translateY(20px);
  
}
  40% {
   /* background: red; */
   transform: translateX(-50px) translateY(25px);
   /* transform: translateY(100px); */
 }
50% {
  transform: translateX(-60px) translateY(30px);
}
60% {
  transform: translateX(-70px) translateY(35px);
}
70% {
  transform: translateX(-80px) translateY(40px);
}
80% {
  transform: translateX(-90px) translateY(45px);
}
90% {
  transform: translateX(-100px) translateY(50px);
}
100% {
  transform: translateX(-110px) translateY(55px);
}
}
 

.one-wheel {
    fill : var(--color-purple);
    /* transform: translateX(10px) translateY(10px); */

    /* animation: animation-name-you-pick 2s 2s 1 alternate ease-in-out forwards; */
    animation: animation-name-you-pick 5s infinite;

}

.test {
  fill : red;
}

 
 